# This is Git's per-user configuration file.
[user]
  name = Filipe Rainho
  email = 29108989+frainho@users.noreply.github.com
[pull]
	rebase = false
[core]
	editor = nvim
  pager = delta
[init]
	defaultBranch = main
[include]
	path = "~/.config/delta/themes.gitconfig"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections
    line-numbers = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
